<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs125app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cs125logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cs125circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Encrypt">
            <intent-filter >
                <action android:name="com.example.dbtest2.k"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Decrypt">
            <intent-filter >
                <action android:name="com.example.dbtest2.k"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ResultPage">
            <intent-filter >
                <action android:name="com.example.dbtest2.k"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>